<%= stylesheet_link_tag 'homes' %>

<div class="how_page">
  <div class="use">
    <div class="container">
      <h2>How To Use Kiroku</h2>
    </div>
    <div class="contents_how">
      <div class="category how_page">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>カテゴリー登録</h3>
              <div class="text_space">
                <p>Kirokuを作る前にはカテゴリー選択が必要になってます。カテゴリーを事前に登録しましょう。</p>
                <p>プログラミング・デザイン・勉強はもちろん、パソコンをあまり使わない、料理・おすすめのレストランなどのブックマークにも使えます。</p>
              </div>
            </div>
            <div class="col img_space">
              <%= image_tag "category_new.png", :width => "600", :height => "auto", class:"black_line" %>
            </div>
          </div>
        </div>
      </div>
      <div class="post how_page bg_gr">
        <div class="container">
          <div class="row">
            <div class="col img_space">
              <%= image_tag "post_new.png", :width => "500", :height => "auto", class:"s_img black_line" %>
              <%= image_tag "post_show.png", :width => "500", :height => "auto", class:"s_img black_line" %>
            </div>
            <div class="col">
              <h3>Kirokuする</h3>
              <div class="text_space">
                <p>あなたが何かを検索した際にKirokuにブックマークを残せます。これをkirokuと言うことにしましょう。</p>
                <p>その際にカテゴリー選択が必要になってます。カテゴリーを事前に登録しましょう。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="category how_page">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>kirokuを見返す</h3>
              <div class="text_space">
                <p>Kirokuを使えばもう何度も検索する必要はありません。</p>
                <p>今までのkiroku一覧はもちろん、kirokuをジャンルごとにも見返すことができます。</p>
                <p>あなたのKirokuを見返してみましょう。</p>
              </div>
            </div>
            <div class="col img_space">
              <%= image_tag "post_index.png", :width => "500", :height => "auto", class:"s_img black_line" %>
              <%= image_tag "category_index.png", :width => "500", :height => "auto", class:"s_img black_line" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
