<%= stylesheet_link_tag 'homes' %>

<div class="top_page">
  <div class="top_img">
    <div class="row top_img_contents">
      <div class="col shop_message">
        <h1>We need to record <br>for growing up</h1>
      </div>
      <div class="col login_space">
        <%= link_to "Log In", new_user_session_path, class: "login_btn btn btn-success btn-lg" %>
        <%= link_to "Sign Up", new_user_registration_path, class:"create_btn btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
  <div id="about" class="about_area area">
    <div class="container">
      <!-- <div class="title_area">
        <h2 class="each_title">About</h2>
      </div> -->
      <div class="row note_area">
        <div class="col note note_l">
          <div class="img_area">
            <%= image_tag "kiroku_logo.png", :width => "400", :height => "auto" %>
          </div>
          <div class="text_area">
            <div class="contents">
              <p>　Kirokuはあなたの疑問を記録し、振り返る</p>
              <p>ためのアプリです。</p>
              <p>一回で全てを覚える必要はなく、自分専用の</p>
              <p>辞書をKirokuに作り、次はここを見直せばい</p>
              <p>いのです。</p>
            </div>
          </div>
        </div>
        <div class="col note note_r">
          <div class="img_area">
            <%= image_tag "user_show.png", :width => "800", :height => "auto", class:"black_line" %>
          </div>
          <div class="img_area">
            <%= image_tag "post_show.png", :width => "800", :height => "auto", class:"black_line" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message_area area">
    <div class="container">
      <div class="message">
        <div class="message_text">
          <p>あなたは同じことを何回も検索して時間を無駄にしていませんか？</p>
          <p>検索するだけでなにも身についていないなんてことありませんか？</p>
          <p>「一度の検索から価値ある学びを」</p>
          <p>Kirokuはこのような考えから生まれたアプリです。何度も同じ検索をせずとも記録と復習ができるアプリが作りたいという想いから生まれました。</p>
          <p></p>
          <div class="name_area">
            <p class="name">Taichi Okada</p>
            <%= image_tag "Ben_sig.svg", :width => "100", :height => "auto", class:"name_logo" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
