<%= stylesheet_link_tag 'posts' %>

<div class="post_edit page">
  <div class="title_part">
    <h1>投稿編集</h1>
  </div>
  <div class="container">
    <div class="form_space">
      <%= form_with model: @post,url: user_post_path(current_user,@post)  do |f| %>
        </%= render 'layouts/error_messages', model: f.object %>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "タイトル" %></label>
          <div class="col-8 title_form">
            <%= f.text_field :title, placeholder:"タイトルを入力してください", class:"title_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "内容" %></label>
          <div class="col-8 content_form">
            <%= f.text_area :content, placeholder:"内容を入力してください", class:"content_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "引用" %></label>
          <div class="col-8 quotation_form">
            <%= f.text_field :quotation, placeholder:"引用元のリンクを入力してください", class:"quotation_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "メモ" %></label>
          <div class="col-8 memo_form">
            <%= f.text_area :memo, placeholder:"メモを入力してください", class:"memo_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-sm-2"><%= f.label "カテゴリー" %></label>
          <%= f.select :category_id, current_user.categories.all.map{|category| [category.name, category.id]}, class:"category_select col-sm-5" %>
        </div>

        <%= f.submit "保存", class:"btn btn-success submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
