<%= stylesheet_link_tag 'posts' %>

<div class="post_new page">
  <div class="title_part">
    <h1>New Kiroku</h1>
  </div>
  <div class="container">
    <div class="form_space">
      <%= form_with model: @post,url: user_posts_path(current_user)  do |f| %>
        </%= render 'layouts/error_messages', model: f.object %>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "Title" %></label>
          <div class="col-8 title_form">
            <%= f.text_field :title, placeholder:"title", class:"title_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "Contents" %></label>
          <div class="col-8 content_form">
            <%= f.text_area :content, placeholder:"contents", class:"content_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "Link" %></label>
          <div class="col-8 quotation_form">
            <%= f.text_field :quotation, placeholder:"Link", class:"quotation_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "Memo" %></label>
          <div class="col-8 memo_form">
            <%= f.text_area :memo, placeholder:"Memo", class:"memo_box" %>
          </div>
        </div>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "Category" %></label>
          <div class="col-8">
            <%= f.select :category_id, current_user.categories.map{|category| [category.name, category.id]}, class:"category_box" %>
          </div>
        </div>

        <%= f.submit "投稿", class:"btn simple_square_btn2 submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
