<%= stylesheet_link_tag 'categories' %>

<div class="category_new page">
  <div class="title_part">
    <h1>Category</h1>
  </div>
  <div class="container">
    <div class="title_part">
      <h2>New Category</h2>
    </div>
    <div class="form_space">
      <%= form_with model: @category,url: user_categories_path(current_user), method: :post, local: true  do |f| %>
        </%= render 'layouts/error_messages', model: f.object %>
        <div class="row contents_form">
          <label class="col-2"><%= f.label "name" %></label>
          <div class="col-8 category_name_form">
            <%= f.text_field :name, placeholder:"New Category Name", class:"category_name_box" %>
          </div>
        </div>

        <%= f.submit "Registration", class:"btn simple_square_btn2 submit-btn" %>
      <% end %>
    </div>
    <div class="index_space">
      <div class="title_part">
        <h2>Category Index</h2>
      </div>
      <div class="category_index">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= link_to category.name, user_category_path(category.user, category), class:"link_text" %></td>
                <td><%= link_to "Edit", edit_user_category_path(category.user, category), class: "btn simple_square_btn2" %></td>
                <td><%= link_to "Delete", user_category_path(category.user, category), method: :delete, class: "btn simple_square_btn3" %></td>
              </tr>
            <% end %>
            </%= paginate @categories %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
