<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="logo_space">
          <%= link_to root_path do %>
          <h3>Kiroku</h3>
          <% end %>
        </div>
        <div class="nav_space">
          <% if user_signed_in? %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "ホーム", user_path(current_user), class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "記録", class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "マイページ", class: "btn btn-nav" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-nav" %></li>
            </ul>
          <% else %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "トップ", root_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><a href="#about" class="btn btn-nav">使い方</a></li>
              <li class="nav-item mr-3"><%= link_to "ログイン", new_user_session_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-nav" %></li>
            </ul>
          <% end %>
        </div>
      </header>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="main">
        <%= yield %>
      </div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-3 logo_space">
              <%= link_to root_path do %>
                <h3>Kiroku</h3>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-8 navbar">
              <nav class="nav">
                <!-- <ul class="nav p-4">
                  <li class="nav-item mr-3"><%= link_to "Home", class: "btn btn-nav" %></li>
                  <li class="nav-item mr-3"><%= link_to "About", class: "btn btn-nav" %></li>
                  <li class="nav-item mr-3"><%= link_to "Contact", class: "btn btn-nav" %></li>
                  <li class="nav-item"><%= link_to "プライバシーポリシー", class: "btn btn-nav" %></li>
                </ul> -->
              </nav>
            </div>
          </div>
          <div class="copyright">
            <p>Copyright©2020-2020 Taichi Okada All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
