<!DOCTYPE html>
<html>
  <head>
    <title>Kiroku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= analytics_init if Rails.env.production? %>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="logo_space">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user), class:"link_text" do %>
            <h3>Kiroku</h3>
            <% end %>
          <% else %>
            <%= link_to root_path,class:"link_text" do %>
            <h3>Kiroku</h3>
            <% end %>
          <% end %>
        </div>
        <div class="nav_space w_nav">
          <% if user_signed_in? %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "New Kiroku", new_user_post_path(current_user), class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "My Kiroku",user_posts_path(current_user), class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "My Page", user_path(current_user),class: "btn btn-nav" %></li>
              <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-nav" %></li>
            </ul>
          <% else %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "Top", root_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "How", how_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "Log In", new_user_session_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-nav" %></li>
            </ul>
          <% end %>
        </div>
        <div class="nav_space m_nav">
          <% if user_signed_in? %>
            <ul class="nav">
              <li class="n-item m_icon"><%= link_to new_user_post_path(current_user), class:"link_text" do %><%= icon('fas', 'feather fa-2x') %><% end %></li>
              <li class="n-item m_icon"><%= link_to user_posts_path(current_user), class:"link_text" do %><%= icon('fas', 'bookmark fa-2x') %><% end %></li>
              <li class="n-item m_icon"><%= link_to user_path(current_user), class:"link_text" do %><%= icon('fas', 'user fa-2x') %><% end %></li>
              <li class="n-item m_icon"><%= link_to destroy_user_session_path, method: :delete, class:"link_text" do %><%= icon('fas', 'sign-out-alt fa-2x') %><% end %></li>
            </ul>
          <% else %>
            <ul class="nav">
              <li class="n_item m_icon"><%= link_to root_path, class:"link_text" do %><%= icon('fas', 'home fa-2x') %><% end %></li>
              <li class="n_item m_icon"><%= link_to how_path, class:"link_text" do %><%= icon('fas', 'info-circle fa-2x')%><% end %></li>
            </ul>
          <% end %>
        </div>
      </header>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="main">
        <%= yield %>
      </div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-3 logo_space">
              <%= link_to root_path, class:"link_text" do %>
                <h3>Kiroku</h3>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-8 navbar">
              <nav class="nav">
                <!-- <ul class="nav p-4">
                  <li class="nav-item mr-3"><%= link_to "Home", class: "btn btn-nav" %></li>
                  <li class="nav-item mr-3"><%= link_to "About", class: "btn btn-nav" %></li>
                  <li class="nav-item mr-3"><%= link_to "Contact", class: "btn btn-nav" %></li>
                  <li class="nav-item"><%= link_to "プライバシーポリシー", class: "btn btn-nav" %></li>
                </ul> -->
              </nav>
            </div>
          </div>
          <div class="copyright">
            <p>Copyright©2020-2021 Taichi Okada All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
